service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class early_hal
    user root
    group root
    oneshot

# Override AOSP Keymaster & gatekeeper 
service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    override
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user system
    group system
    disabled

service vendor.keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    override
    interface android.hardware.keymaster@3.0::IKeymasterDevice default
    class early_hal
    user nobody
    group drmrpc
    disabled

# Override QTI Keymaster & gatekeeper
service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    override
    class early_hal
    user system
    group system
    disabled

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service-qti
    override
    class early_hal
    user system
    group system drmrpc
    disabled

on property:ro.vendor.xiaomi.device=vince
    start vendor.gatekeeper-1-0
    start vendor.keymaster-3-0

on property:ro.vendor.xiaomi.device=ysl
    start gatekeeper-1-0
    start keymaster-3-0

on property:ro.vendor.xiaomi.device=mido
    start vendor.gatekeeper-1-0
    start vendor.keymaster-3-0

# ADSP
on boot
    stop vendor.adsprpcd

# Audio
on property:ro.vendor.xiaomi.device=vince
    setprop vendor.audio.mixer_xml.path /odm/etc/vince_mixer_paths_mtp.xml
    setprop vendor.audio.platform_info_xml.path /odm/etc/vince_audio_platform_info_intcodec.xml

on property:ro.vendor.xiaomi.device=ysl
    setprop vendor.audio.mixer_xml.path /odm/etc/ysl_mixer_paths_mtp.xml
    setprop vendor.audio.platform_info_xml.path /odm/etc/ysl_audio_platform_info_intcodec.xml

on property:ro.vendor.xiaomi.device=mido
    setprop vendor.audio.mixer_xml.path /odm/etc/mido_mixer_paths_mtp.xml
    setprop vendor.audio.platform_info_xml.path /odm/etc/mido_audio_platform_info_intcodec.xml

# Camera
service vendor.qcamerasvr /odm/bin/mm-qcamera-daemon
    override
    class late_start
    user camera
    group camera system inet input graphics

on property:ro.vendor.xiaomi.device=ysl
    setprop ro.hardware.camera ysl
on property:ro.vendor.xiaomi.device=vince
    setprop ro.hardware.camera vince

# IR
on init
    # peel
    chown system system /dev/peel_ir
    # spidev
    chown system system /dev/spidev5.1

on early-boot && property:ro.vendor.xiaomi.series=vince
    setprop ro.hardware.consumerir peel
on early-boot && property:ro.vendor.xiaomi.device=ysl
    setprop ro.hardware.consumerir spidev

# Sensors
on property:ro.vendor.xiaomi.device=vince
    # General
    mount overlay overlay /odm/lib ro lowerdir=/odm/overlayfs/vince/lib/:/odm/lib

    # Camera
    mount overlay overlay /odm/etc/camera ro lowerdir=/vendor/etc/overlayfs/vince/camera/:/odm/etc/camera

    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/etc/overlayfs/vince/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=ysl
    # General
    mount overlay overlay /odm/lib ro lowerdir=/odm/overlayfs/ysl/lib/:/odm/lib

    # Camera
    mount overlay overlay /odm/etc/camera ro lowerdir=/vendor/etc/overlayfs/ysl/camera/:/odm/etc/camera

    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/etc/overlayfs/ysl/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=mido
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/etc/overlayfs/mido/sensors/:/vendor/etc/sensors
